---
import IconButton from '../../../components/IconButton.astro'
import Github from '../../../components/icons/Github.astro'
import Url from '../../../components/icons/Url.astro'
import type { Project } from '../../../models/project'
export interface Props {
  project: Project
}

const { project } = Astro.props
---

<article
  class="flex flex-col justify-between items-start w-full h-full bg-inherit p-10"
>
  <section>
    <h3
      class="font-extrabold text-transparent text-xl lg:text-2xl xl:text-3xl bg-clip-text bg-gradient-to-r from-pink-400 to-violet-600 p-1"
    >
      {project.title}
    </h3>
    <p class="text-sm lg:text-md text-black dark:text-gray-300 py-2">
      {project.description ?? ''}
    </p>
    <p
      class="text-[1rem] text-transparent bg-clip-text bg-gradient-to-r from-pink-400 to-violet-600 p-2"
    >
      {project.tools?.map(tool => tool).join(' / ')}
    </p>
  </section>
  <section class="flex justify-evenly w-full">
    <IconButton href={project.repo}>
      <Github />
    </IconButton>
    {
      project.link ? (
        <IconButton href={project.link}>
          <Url />
        </IconButton>
      ) : null
    }
  </section>
</article>
