---
import Slider from '../../slider/Slider.astro'
import TitleSection from '../../text/TitleSection.astro'
---

<section id="projects" class="px-2 md:px-20 mt-5">
  <TitleSection>Proyectos</TitleSection>
  <div
    class="flex flex-wrap flex-col lg:flex-row items-center justify-center md:justify-start mt-10"
  >
    <Slider />
  </div>
</section>
