---
import LinkedIn from '../../../components/icons/LinkedIn.astro'
import Github from '../../../components/icons/Github.astro'
---

<div
  class="text-5xl flex gap-16 justify-center max-w-xl text-gray-500 dark:text-white"
>
  <a
    href="https://www.linkedin.com/in/francisco-javier-saa-besteiro/"
    target="_blank"
    rel="noreferrer"
    aria-label="Open my personal LinkedIn profile"
    class="hover:text-gray-700 dark:hover:text-violet-400 transition duration-300 text-2xl"
  >
    <LinkedIn size={34} />
  </a>
  <a
    href="https://github.com/franjsb1903"
    target="_blank"
    rel="noreferrer"
    aria-label="Open my personal GitHub profile to see all my projects"
    class="hover:text-gray-700 dark:hover:text-violet-400 transition duration-300"
  >
    <Github size={34} />
  </a>
</div>
