---
import Title from '../../components/Title.astro'
---

<div
  class="ml-8 mr-8 flex flex-col items-start border-b-2 border-b-gray-200 dark:border-b-violet-400"
>
  <Title>
    <slot />
  </Title>
</div>
