---
import TitleSection from '../../text/TitleSection.astro'
import AstroIcon from '../../../components/icons/tools/AstroIcon.astro'
import Azure from '../../../components/icons/tools/Azure.astro'
import Css from '../../../components/icons/tools/Css.astro'
import Docker from '../../../components/icons/tools/Docker.astro'
import Express from '../../../components/icons/tools/Express.astro'
import Git from '../../../components/icons/tools/Git.astro'
import Html from '../../../components/icons/tools/Html.astro'
import Java from '../../../components/icons/tools/Java.astro'
import Javascript from '../../../components/icons/tools/Javascript.astro'
import Jest from '../../../components/icons/tools/Jest.astro'
import Mongodb from '../../../components/icons/tools/Mongodb.astro'
import Nextjs from '../../../components/icons/tools/Nextjs.astro'
import Nodejs from '../../../components/icons/tools/Nodejs.astro'
import Postgresql from '../../../components/icons/tools/Postgresql.astro'
import Python from '../../../components/icons/tools/Python.astro'
import React from '../../../components/icons/tools/React.astro'
import ReactNative from '../../../components/icons/tools/ReactNative.astro'
import Redux from '../../../components/icons/tools/Redux.astro'
import Sql from '../../../components/icons/tools/Sql.astro'
import Tailwind from '../../../components/icons/tools/Tailwind.astro'
import TestingLibrary from '../../../components/icons/tools/TestingLibrary.astro'
import Typescript from '../../../components/icons/tools/Typescript.astro'
import Vitejs from '../../../components/icons/tools/Vitejs.astro'
---

<section id="background" class="px-2 md:px-20 mt-5">
  <TitleSection>Background</TitleSection>
  <div
    class="swiper-background shadow-lg shadow-gray-400 dark:shadow-violet-400 overflow-hidden"
  >
    <div class="swiper-wrapper">
      <div class="swiper-slide"><AstroIcon /></div>
      <div class="swiper-slide"><Azure /></div>
      <div class="swiper-slide"><Css /></div>
      <div class="swiper-slide"><Azure /></div>
      <div class="swiper-slide"><Docker /></div>
      <div class="swiper-slide"><Express /></div>
      <div class="swiper-slide"><Git /></div>
      <div class="swiper-slide"><Html /></div>
      <div class="swiper-slide"><Java /></div>
      <div class="swiper-slide"><Javascript /></div>
      <div class="swiper-slide"><Jest /></div>
      <div class="swiper-slide"><Mongodb /></div>
      <div class="swiper-slide"><Nextjs /></div>
      <div class="swiper-slide"><Nodejs /></div>
      <div class="swiper-slide"><Postgresql /></div>
      <div class="swiper-slide"><Python /></div>
      <div class="swiper-slide"><React /></div>
      <div class="swiper-slide"><ReactNative /></div>
      <div class="swiper-slide"><Redux /></div>
      <div class="swiper-slide"><Sql /></div>
      <div class="swiper-slide"><Tailwind /></div>
      <div class="swiper-slide"><TestingLibrary /></div>
      <div class="swiper-slide"><Typescript /></div>
      <div class="swiper-slide"><Vitejs /></div>
    </div>
  </div>
</section>
