---
import Layout from '../layouts/Layout.astro'
import AboutMe from '../views/sections/about-me/AboutMe.astro'
import Header from '../views/header/Header.astro'
import Projects from '../views/sections/projects/Projects.astro'
---

<Layout>
  <main class="bg-white dark:bg-black">
    <Header />
    <AboutMe />
    <Projects />
  </main>
</Layout>
