---
import Layout from '../layouts/Layout.astro'
import AboutMe from '../views/sections/about-me/AboutMe.astro'
import Header from '../views/header/Header.astro'
import Projects from '../views/sections/projects/Projects.astro'
import Background from '../views/sections/background/Background.astro'
import Azure from '../components/icons/tools/Azure.astro'
import AstroIcon from '../components/icons/tools/AstroIcon.astro'
---

<Layout>
  <main class="bg-white dark:bg-black">
    <Header />
    <AboutMe />
    <Projects />
    <Background />
    <Azure />
    <AstroIcon />
  </main>
</Layout>
