---
import Layout from '../layouts/Layout.astro'
import AboutMe from '../views/AboutMe.astro'
import Header from '../views/Header.astro'
---

<Layout>
  <main class="bg-white dark:bg-black">
    <Header />
    <section id="me" class="min-h-screen px-5 md:px-20 lg:px-40">
      <AboutMe />
    </section>
  </main>
</Layout>
