<div class="swiper shadow-lg shadow-gray-400 dark:shadow-violet-400">
  <div class="swiper-wrapper">
    <div class="swiper-slide text-white">Slide 1</div>
    <div class="swiper-slide text-white">Slide 2</div>
  </div>
  <div class="swiper-pagination"></div>
</div>
